@model IEnumerable<Models.Stores>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:white;">Select a store near you</h1>
<style>
    body {
        background-image: url("https://c.tenor.com/-3Zcltg-fpgAAAAM/bald-we-live-hockey.gif");
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        background-size: cover;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="color:white;">
                    @Html.ActionLink("Select", "newOrder", "Inventory", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

