@model IEnumerable<Models.Stores>

@{
    ViewData["Title"] = "Index";
}

<h1>Select a store near you</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Select", "newOrder", "Inventory", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <img src="https://c.tenor.com/-3Zcltg-fpgAAAAM/bald-we-live-hockey.gif" width="1000" height="500" alt="My Pic">
</p>
