@model IEnumerable<Models.Stores>

@{
    ViewData["Title"] = "Index";
}

<h1>Stores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink("Inventory", "StoreIndex", "Inventory", new { id = item.Id }) |
                        @Html.ActionLink("Order History", "OrderHistoryOfStore", "OrderDetails", new { StoreId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="height:100%; width:100%;">

        <img src="https://lh3.googleusercontent.com/go9yNqQt_phxblk7TG-5Q3WVXRjcruj9fekszBV-5RFegopxAwzlUxuMLieznXn_LhDbnQ=s136" style="position:absolute; float:right; right:0px; bottom:0px; z-index:2;">

    </div>