@model IEnumerable<Models.LineItem>

@{
    ViewData["Title"] = "CartTotal";
}

<h1>CartTotal</h1>

<p>
    <a asp-action="CheckOut">Check out</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.OrderitemsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.OrderitemsId)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Your total currently is $@TempData["total"]</p>
@*<div class="coupon">
    <div class="container">
        <h3>Hats For Male Pattern Baldness</h3>
    </div>
    <img src="https://lh3.googleusercontent.com/go9yNqQt_phxblk7TG-5Q3WVXRjcruj9fekszBV-5RFegopxAwzlUxuMLieznXn_LhDbnQ=s136" alt="Logo" style="width:100%;">
    <div class="container" style="background-color:white">
        <h2><b>20% OFF YOUR PURCHASE</b></h2>
    </div>
    <div class="container">
        <p>Click the coupon button for 20% off your order! <span class="promo">Coupon ID: colorgradegreen</span></p>
        <p class="expire">Expires: if released</p>
    </div>
</div>
<style>
    .coupon {
        border: 5px dotted #bbb; /* Dotted border */
        width: 80%;
        border-radius: 15px; /* Rounded border */
        margin: 0 auto; /* Center the coupon */
        max-width: 600px;
    }

    .container {
        padding: 2px 16px;
        background-color: #f1f1f1;
    }

    .promo {
        background: #ccc;
        padding: 3px;
    }

    .expire {
        color: red;
    }
</style>
<body>
    <input type="button" onclick="SetTempData()" value="colorgradegreen">
    <hr />
    @TempData["Coupon"]
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type='text/javascript'>
        function SetTempData() {
            $.ajax({
                type: "POST",
                url: '/Inventory/Coupon',
                data: '{ value: ".8"}',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (r) {
                    window.location = window.location.href;
                }
            });
            alert("20% off next order");
        }
    </script>
</body>*@