@model Models.LineItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LineItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderitemsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderitemsId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="CartTotal">Back to Cart</a>
    </form>
</div>
